<!DOCTYPE suite SYSTEM "http://testng.org/testing-1.0.dtd">

<suite name="Simple">
    <groups>
        <define name="All"/>
        <define name="Smoke"/>
        <define name="Regression"/>
    </groups>

    <run>
       <include name ="All"/>
       <include name = "Smoke"/>
        <include name = "Regression"/>
    </run>

    <test name="Search/Login">
        <classes>
            <class name="selenium.listeners.SearchTest"/>
            <class name="selenium.listeners.LoginTest"/>
        </classes>
    </test>
</suite>